<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="container my-4">
  <h2 class="text-center my-4 bg-primary text-white p-3 rounded">Find Flights</h2>

  <div class="border rounded p-4 shadow">
    <form #findFlightsForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="from" class="form-label">From:</label>
        <input type="text" class="form-control" id="from" [(ngModel)]="criteria.departureCity" name="from" placeholder="Enter departure city" required />
      </div>

      <div class="mb-3">
        <label for="to" class="form-label">To:</label>
        <input type="text" class="form-control" id="to" [(ngModel)]="criteria.arrivalCity" name="to" placeholder="Enter arrival city" required />
      </div>

      <div class="mb-3">
        <label for="dateOfDeparture" class="form-label">Departure Date:</label>
        <input type="date" class="form-control" id="dateOfDeparture" [(ngModel)]="criteria.dateOfDeparture" name="dateOfDeparture" required />
      </div>

      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
  </div>
</div>


<router-outlet></router-outlet>
